div[data-type="marcus-hiles-wistia-shortcodes/wistia-video-block"] .editor-block-list__block-edit {
  justify-content: center;
  align-items: center;
}

.mh-no-video-id {
  text-align: center;
}

.mh-no-video-id .editor-rich-text {
  border-radius: 6px;
  padding: 8px 12px;
  border: 1px solid #d0d0ff;
}